.primary-header {
  margin: rem(34px) 0;
  text-align: center;
}

.header-logo {
  margin: 0 rem(10px) 0 0;
}

.header-tagline {
  color: $black;
  font-size: rem(12px);
  margin: rem(11px) 0 0;
}
