<div class="my-content-page-wrap">
  <div class="my-content-page">
    <h1>MY Terms &amp; Conditions</h1>

    <p>
      The following Terms and Conditions of Service apply to all artwork, graphic design, print and services provided by MY.
    </p>

    <p>
      All design work is carried out by MY on the understanding that the client has agreed to abide by MY's terms and conditions.
    </p>

    <p>
      Copyright and ownership of all graphic design work is retained by MY including copy, concepts, ideas, proofs and illustrations and original editable artwork files (unless specifically released in writing).
    </p>

    <p>
      If multiple design concepts are submitted, only one concept is deemed to be given by MY as fulfilling the contract. All other artwork designs remain the property of MY, unless agreed in writing.
    </p>

    <h2>
      Project Acceptance
    </h2>

    <p>
      At the time of proposal, MY will provide the customer with a written estimate or quotation. The Terms and Conditions can be read on MY's website.
    </p>

    <p>
      A copy of the written estimate or quotation is to be signed and dated by the customer to indicate acceptance and should be returned to MY. Alternatively, the client may send an official order in reply to the estimate or quotation which binds the client to accept MY's terms and conditions. We will accept email orders written in the body of the email. No work on a project will commence until either document has been received by MY.
    </p>

    <h2>
      Design Fees
    </h2>

    <p>
      Fees for design services to be provided by MY, will be set out in the written
      estimate or quotation that is provided to the customer. If a customer requires
      original editable artwork files in addition to final output files then MY will
      revise and increase its hourly rate for all work undertaken as part of any
      bespoke agreement that allows customers access to original editable artwork
      files. At the time of the customer's signed acceptance of this estimate or
      quotation, indicating acceptance of the Terms & Conditions, a non-refundable
      deposit of 50% of the quoted fee will become immediately due. Work on the
      project will not commence until MY has received this amount. Design fees are
      based on the production and supply of final output files only, not original
      editable artwork files.
    </p>

    <h2>
      Charges for Other Services
    </h2>

    <p>
      Charges for any additional services over and above the estimated design, will
      become fully payable at the time of project acceptance.
    </p>

    <h2>
      Payment
    </h2>

    <p>
      The client will be asked to provide artwork sign off before followed by an Invoice prior to print/artwork/publication. At this time the remainder of the fees due will become payable. Accounts which remain outstanding for 30 days after the date of invoice, will incur an extra charge of 2% per month of the outstanding amount.
    </p>

    <p>
      Payments may be made by Bacs, cash, cheque, or (for overseas customers), Paypal or previously agreed electronic funds transfer.
    </p>

    <p>
      Publication and/or release of work done by MY on behalf of the client, may not take place before funds have cleared.
    </p>

    <p>
      Returned cheques will incur an additional fee of £50 per returned cheque. MY reserves the right to consider an account to be in default in the event of a returned cheque.
    </p>

    <p>
      Payment in full is required prior to artwork being sent to print.
    </p>

    <h2>
      Default
    </h2>

    <p>
      An account shall be considered default if it remains unpaid for 30 days from the date of invoice, or following a returned cheque. MY shall be considered entitled to remove MY's and/or the customer's material from any and all computer systems, until the amount due has been fully paid. This includes any and all unpaid monies due for services, including, but not limited to, hosting, domain registration, search engine submission, design and maintenance, sub-contractors, printers, photographers and libraries.
    </p>

    <p>
      Removal of such materials does not relieve the customer of their obligation to pay the due amount. Customers whose accounts become default agree to pay MY reasonable legal expenses and third party collection agency fees in the enforcement of these Terms and Conditions.
    </p>

    <h2>
      Copyrights and Trademarks
    </h2>

    <p>
      By supplying text, images and other data to MY for inclusion in the customer's brochure or other medium, the customer declares that it holds the appropriate copyright and/or trademark permissions. The ownership of such materials will remain with the customer, or rightful copyright or trademark owner.
    </p>

    <p>
      Any artwork, images, or text supplied and/or designed by MY on behalf of the customer, will remain the property of MY and/or its suppliers, excluding Logo design in which full copyright will be passed to the client upon receipt of full payment.
    </p>

    <p>
      The customer may request in writing from MY, the necessary permission to use materials (for which MY holds the copyright) in forms other than for which it was originally supplied, and MY may, at its discretion, grant this. Such permission must be obtained in writing before it will allow any of the aforesaid original editable artwork files, images, text, or other data to be used. MY reserves the right to charge fees for additional useage.
    </p>

    <p>
      By supplying images, text, or any other data to MY, the customer grants MY permission to use this material freely in the pursuit of the design and to utilise the designs in MY's portfolio unless agreed otherwise.
    </p>

    <p>
      Should MY, or the customer supply an image, text, audio clip or any other file for use in a website, multimedia presentation, print item, exhibition, advertisement or any other medium believing it to be copyright and royalty free, which subsequently emerges to have such copyright or royalty usage limitations, the customer will agree to allow MY to remove and/or replace the file.
    </p>

    <p>
      The customer agrees to fully indemnify and hold MY free from harm in any and all claims resulting from the customer in not having obtained all the required copyright, and/or any other necessary permissions.
    </p>

    <h2>
      Alterations
    </h2>

    <p>
      The customer agrees that changes required over and above the estimated work or required to be carried out after acceptance of the draft design will be liable to a separate charge.
    </p>

    <p>
      The customer also agrees that MY holds no responsibility for any amendments made by any third party, before or after a design is published.
    </p>

    <h2>
      Licensing
    </h2>

    <p>
      Any design, copywriting, drawing, idea or code created for the customer by MY, or any of its contractors, is licensed for use by the client on a one-time only basis and may not be modified, re-used, or re-distributed in any way or form without the express written consent of MY and any of its relevant sub-contractors.
    </p>

    <p>
      All design work where there is a risk that another party may make a claim, should be registered by the client with the appropriate authorities prior to publishing or first use or searches and legal advice sought as to its use. MY will not be held responsible for any and all damages resulting from such claims. MY is not responsible for any loss, or consequential loss, non-delivery of products or services, of whatever cause. The customer agrees not to hold MY responsible for any such loss or damage. Any claim against MY shall be limited to the relevant fee(s) paid by the customer.
    </p>

    <h2>
      Data Formats
    </h2>

    <p>
      The client agrees to MY's definition of acceptable means of supplying data to the company.
    </p>

    <p>
      Text is to be supplied to MY in electronic format as standard text (.txt), MS Word (.doc) on CD-ROM, or via e-mail.
    </p>

    <p>
      Images which are supplied in an electronic format, are to be provided in a format as prescribed by MY via CD-ROM, or electronic data format. Images must be of a quality suitable for use without any subsequent image processing, and MY will not be held responsible for any image quality which the client later deems to be unacceptable. MY cannot be held responsible for the quality of any images which the client wishes to be scanned from printed materials.
    </p>

    <p>
      Additional expenses may be incurred for any necessary action, including, but not limited to, photography and art direction, photography searches, media conversion, digital image processing, or data entry services
    </p>

    <h2>
      Design Project Duration
    </h2>

    <p>
      Any indication given by MY of a design project's duration is to be considered by the customer to be an estimation. MY cannot be held responsible for any project over-runs, whatever the cause. Estimated project duration should be deemed to be from the date that cleared funds of the deposit are received by MY.
    </p>

    <h2>
      Design Project Completion
    </h2>

    <p>
      MY considers the design project complete upon receipt of the customer's sign off. Other services such as printing, display panel production, filmwork, website uploading, publishing etc either contracted on the client’s behalf constitute a separate project and can be treated as a separate charge.
    </p>

    <h2>
      Website Design Only
    </h2>

    <p>
      Once web design is complete, MY will provide the customer with the opportunity to review the resulting work. MY will make one set of minor changes at no extra cost within 14 days of the start of the review period. Minor changes include small textual changes and small adjustments to placement of items on the page. It does not include changes to images, colour schemes or any navigation features. Any minor changes can be notified to MY by e-mail or fax and confirmed by post.
    </p>

    <p>
      MY will consider that the client has accepted the original draft, if no notification of changes is received in writing from the customer, within 14 days of the start of the review period.
    </p>

    <h2>
      Design Credits
    </h2>

    <p>
      The customer agrees to allow MY to place a small credit on printed material, exhibition displays, advertisements and/or a link to MY's own website on the customer's website. This will usually be in the form of a small logo or line of text placed towards the bottom of the page.
    </p>

    <p>
      The customer also agrees to allow MY to place all designs on MY's own website for portfolio and demonstration purposes and to use any designs in its own publicity unless agreed otherwise.
    </p>

    <h2>
      Rights of Refusal
    </h2>

    <p>
      MY will not include in its designs, any text, images or other data which it deems to be immoral, offensive, obscene or illegal. All advertising material must conform to all standards laid down by all relevant advertising standards authorities. MY also reserves the right to refuse to include submitted material without giving reason. Any images and/or data that MY does include in all good faith, and then finds out that it contravenes these Terms and Conditions, the customer is obliged to allow MY to remove the contravention without hindrance, or penalty. MY is to be held in no way responsible for any such data being included.
    </p>

    <h2>
      Cancellation
    </h2>

    <p>
      Cancellation of orders may be made initially by telephone contact, or e-mail, however, following this, MY will need formal notification in writing to the company's postal address. The customer is required to fulfil their contractual obligation as per the purchase order. The balance of monies due must be paid within 30 days.
    </p>

    <h2>
      Disclaimer
    </h2>

    <p>
      MY makes no warranties of any kind, express or implied, for any and all products and/or services that it supplies. MY will not be held responsible for any and all damages resulting from products and/or services it supplies. MY is not responsible for any loss, or consequential loss of data, or non-delivery of products or services, of whatever cause. While we take reasonable steps to investigate the materials we recommend, we accept no responsibility for the performance or quality of materials or any consequential loss arising from their failure. The customer agrees not to hold MY responsible for any such loss or damage. Any claim against MY shall be limited to the relevant fee(s) paid by the customer.
    </p>

    <p>
      MY reserves the right to use the services of sub-contractors, agents and suppliers and any work, content, services and usage is bound by their Terms and Conditions. MY will not knowingly perform any actions to contravene these and the client also agrees to be so bound.
    </p>

    <p>
      MY and its clients agree to comply with Printers Terms and Conditions which include disclaimers for non-completion on time and the flexibility to supply quantities within 10% of the total ordered. MY recommend that if an exact quantity is required, then 10% extra is added to the quantity and extra time made available should the job be delayed.
    </p>

    <h2>
      General
    </h2>

    <p>
      These Terms and Conditions supersede any previous Terms and Conditions distributed in any form. MY reserves the right to change any rates and any of the Terms and Conditions at any time and without prior notice.
    </p>

    <h2>
      Acceptance of Quotation and Terms and Conditions
    </h2>

    <p>
      The placement of an order for design and/or any other services offered by MY and validated by the customer's signature (including email signature) on the estimate or quotation, constitutes acceptance of the estimate or quotation and agreement to comply fully with all the Terms and Conditions and forms a Contract for Business between the signatory and MY.
    </p>
  </div>
</div>
